{% extends 'layout.html' %} 

{% block body %}
<p>
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ab animi sit,
   voluptate, iusto exercitationem enim quasi labore, hic officia accusamus
   eaque optio modi at atque! Nam, officiis delectus eos debitis alias
   exercitationem mollitia vitae odit numquam officia hic placeat possimus eius
   aliquid iste doloribus temporibus provident, culpa laboriosam cum doloremque.
   Vitae eius, temporibus magni libero consequatur quidem amet aliquam nulla a.
   Porro laboriosam voluptatibus eum repellat! Sit numquam nihil possimus
   explicabo harum nemo quaerat illum earum deleniti, alias necessitatibus
   dignissimos animi. Est sit ipsam ducimus dignissimos, cum ipsum ab totam
   voluptatibus ipsa dicta qui autem, impedit corrupti consequuntur. Eaque,
   obcaecati commodi repellat, a neque consequuntur vel odit laudantium autem
   optio enim numquam facere assumenda. Consequuntur asperiores quod iste itaque
   quibusdam molestias rem, ea ut eaque sequi fugiat qui praesentium atque
   officiis beatae quasi aliqu
</p>

{% endblock body %}
